services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
    environment:
      - DB_PATH=/app/data/dvr.db
      - BODY_SIZE_LIMIT=Infinity
      - ORIGIN=http://localhost:3000
    restart: always
