services:
  jellyfin-live:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
    environment:
      - DATABASE_URL=postgresql://jellyfin:jellyfin@postgres:5432/jellyfin
      - BODY_SIZE_LIMIT=Infinity
      - ORIGIN=http://localhost:3000
    restart: always
    depends_on:
      - postgres

  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: jellyfin
      POSTGRES_PASSWORD: jellyfin
      POSTGRES_DB: jellyfin
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres-data:
